.footer-2{
    padding: 2rem 0;
    display: grid;
    place-items: center;
}
@media screen and (max-width:768px){
    .footer{
        display: flex;
        padding: 3rem 2rem;
    }
    .footer-row{
       display: flex;
       flex-direction: column;
    }
    .footer-column{
        padding-top: 2rem;
    }
}