body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  color: #009cea;
  text-decoration: none;
}

a:hover {
  color: #1eb4ff;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #009cea;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #14b1ff;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Disable AOS delay on mobile
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  /* background-image: url("https://cdn.pixabay.com/photo/2018/05/28/15/13/mental-3436232__340.jpg"); */
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right top;
  margin-top: 70px;
  padding: 60px 0;
}
/* .hero-span{
color: #29698a;
} */

#hero h1 {
  margin: 0 0 20px 0;
  font-size: 38px;
  font-weight: 700;
  line-height: 56px;
  color: #364146;
}

#hero h2 {
  color: #576971;
  margin-bottom: 30px;
  font-size: 24px;
}

#hero .btn-get-started {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 28px;
  border-radius: 3px;
  transition: 0.5s;
  color: #fff;
  background: #009cea;
  align-self: center;
}

#hero .btn-get-started:hover {
  background: #0778b1;
}

#hero .hero-img {
  text-align: center;
}

#hero .hero-img img {
  width: 80%;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 992px) {
  #hero h1 {
    font-size: 32px;
    line-height: 40px;
  }

  #hero h2 {
    font-size: 20px;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #f7f8f9;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 20px;
  padding-bottom: 0;
  font-family: "Poppins", sans-serif;
  color: #627680;
}

.section-title p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.mission .icon-box {
  padding: 30px;
  position: relative;
  overflow: hidden;
  margin: 0;
  background: #fff;
  box-shadow: 0 10px 29px 0 rgba(2, 5, 14, 0.1);
  transition: all 0.3s ease-in-out;
  border-radius: 4px;
  text-align: center;
  border-bottom: 3px solid #fff;
}

.mission h2{
  color: #009cea;
}
.mission .icon-box:hover {
  transform: translateY(-5px);
}

.mission .icon i {
  font-size: 48px;
  line-height: 1;
  margin-bottom: 15px;
}

.mission .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

.mission .title a {
  color: #009cea;
}

.mission .description {
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 0;
  
}

.mission .icon-box-pink .icon i {
  color: #ff689b;
}

.mission .icon-box-pink:hover {
  border-color: #ff689b;
}

.mission .icon-box-cyan .icon i {
  color: #3fcdc7;
}

.mission .icon-box-cyan:hover {
  border-color: #3fcdc7;
}

.mission .icon-box-green .icon i {
  color: #41cf2e;
}

.mission .icon-box-green:hover {
  border-color: #41cf2e;
}

.mission .icon-box-blue .icon i {
  color: #2282ff;
}

.mission .icon-box-blue:hover {
  border-color: #2282ff;
}
