.us-container {
  background-image: url("https://cdn.vectorstock.com/i/preview-1x/16/84/mental-health-inner-harmony-scene-with-yoga-man-vector-44761684.webp");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right top;
  display: flex;
  justify-content: center;
  align-items: center;
  color: blueviolet;
  width: 100%;
  margin-top: 2rem;
  height: 90vh;
}
.us-container .row {
  width: 60%;
  margin: auto;
  border: 1px solid rgb(129, 235, 8);
  justify-content: center;
  border-radius: 20px;
}
.us-container .row h3 {
  text-align: center;
  margin-top: 2rem;
  letter-spacing: 2px;
}
.us-container .button-container {
  margin: auto;
  height: 50vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;
}
.us-container button {
  background-color: aliceblue;
  color: blue;
  padding: 20px 50px;
  border: 1px solid rgb(129, 235, 8);
}
.us-container button:hover {
  background-color: rgb(166, 166, 240);
  box-shadow: rgb(0 0 0 / 8%) 0px 8px 24px;
  border: 2px solid rgb(129, 235, 8);
  transform: scale(1.1);
}
